<div class="container">
    <div class=" row mt-5">
        <div class="col-md-6 ">
            <h1 class="title">Recueil des prix</h1>
            <button type="button" class="button" (click)="onContinue1()">Les prix par secteur</button>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quasi quae eaque, maiores asperiores a fugit perspiciatis at, officiis dicta quaerat porro architecto quod sequi optio alias. Quasi, optio mollitia. Lorem ipsum dolor sit amet
                consectetur, adipisicing elit. Amet quasi quae eaque, maiores asperiores a fugit perspiciatis at, officiis dicta quaerat porro architecto quod sequi optio alias. Quasi, optio mollitia. Lorem ipsum dolor sit amet consectetur, adipisicing
                elit. Amet quasi quae eaque, maiores asperiores a fugit perspiciatis at, officiis dicta quaerat porro architecto quod sequi optio alias. Quasi, optio mollitia.
            </p>

        </div>
        <div class="col-md-6 "><img src=" ../../assets/img/price.svg " alt="My Happy SVG " style="width: 100%; height: auto; " /></div>
    </div>
</div>
