<a mat-button class="menu-button" routerLink="">
    <mat-icon>home</mat-icon>
    <span>Accueil</span>
</a>
<a mat-button class="menu-button" routerLink="recherche">
    <mat-icon>search</mat-icon>
    <span>Recherche</span>
</a>
<a mat-button class="menu-button" routerLink="recueil">
    <mat-icon>equalizer</mat-icon>
    <span>Recueil des prix</span>
</a>
<a mat-button class="menu-button" routerLink="bordereau">
    <mat-icon>border_color</mat-icon>
    <span>Bordereau </span>
</a>
<a mat-button class="menu-button" routerLink="hotels">
    <mat-icon>layers</mat-icon>
    <span>Service</span>
</a>
<a mat-button class="menu-button" routerLink="hotels">
    <mat-icon>low_priority</mat-icon>
    <span>Marche</span>
</a>
<!-- <a mat-button class="menu-button" routerLink="flights">
    <mat-icon>flight</mat-icon>
    <span>Receuil des prix</span>
</a> -->
