<div class="container">
    <div class="row mt-5">
        <Div class="col-md-2 mt-1">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Secteur</option>
            <option value="1">vchjsdcvhvscjhsvnbxjsdx</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </Div>
        <Div class="col-md-2 mt-1">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Phase</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </Div>
        <Div class="col-md-2 mt-1">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
            <option selected>Tache</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
            </select>
        </Div>
        <Div class="col-md-2 mt-1">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
          <option selected>Poste</option>
          <option value="1">One</option>
          <option value="2">Two</option>
          <option value="3">Three</option>
          </select>
        </Div>
        <Div class="col-md-2 mt-1">
            <select class="form-select form-select-sm" aria-label=".form-select-sm example">
        <option selected>Prix</option>
        <option value="1">One</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
        </select>
        </Div>
        <Div class="col-md-2 mt-1">
            <button type="button" class="button"><mat-icon>search</mat-icon>Chercher</button>
        </Div>


    </div>
    <div class="row mt-3 ">
        <button type="button" class="button"><mat-icon> vertical_align_bottom</mat-icon>Exporter</button>
    </div>
    <div class="row mt-3 ">
        <div class="hscroll">

            <table class="table">
                <thead>
                    <th>Secteur</th>
                    <th>Phase</th>
                    <th>Tache</th>
                    <th>Poste</th>
                    <th>Designation</th>
                    <th>Definition</th>
                    <th>Unite</th>
                </thead>
                <tbody>
                    <tr>
                        <td data-label="S.No">1</td>
                        <td data-label="Name">Dinesh</td>
                        <td data-label="Age">34</td>
                        <td data-label="Marks%">50%</td>
                        <td data-label="Staus">Passed</td>
                        <td data-label="Marks%">50%</td>
                        <td data-label="Staus">Passed</td>
                    </tr>

                    <tr>
                        <td data-label="S.No">2</td>
                        <td data-label="Name">Kamal</td>
                        <td data-label="Age">23</td>
                        <td data-label="Marks%">70%</td>
                        <td data-label="Staus">Passed</td>
                        <td data-label="Marks%">70%</td>
                        <td data-label="Staus">Passed</td>
                    </tr>

                    <tr>
                        <td data-label="S.No">3</td>
                        <td data-label="Name">Neha</td>
                        <td data-label="Age">20</td>
                        <td data-label="Marks%">90%</td>
                        <td data-label="Staus">Passed</td>
                        <td data-label="Marks%">70%</td>
                        <td data-label="Staus">Passed</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
