<div class="container">
    <div class=" row mt-5">
        <div class="col-md-6 ">
            <div class=" row mt-5"><img src=" ../../assets/img/home.svg " alt="My Happy SVG " style="width: 100%; height: auto; " /></div>

        </div>
        <div class="col-md-6  mt-5">
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quasi quae eaque, maiores asperiores a fugit perspiciatis at, officiis dicta quaerat porro architecto quod sequi optio alias. Quasi, optio mollitia.</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet quasi quae eaque, maiores asperiores a fugit perspiciatis at, officiis dicta quaerat porro architecto quod sequi optio alias. Quasi, optio mollitia.</p>
        </div>
    </div>
</div>
